.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-gplus:before { content: '\f0d4'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30e'; } /* '' */